[Desktop Entry]
Version=0.6
Name=cleanupdate
Type=Application
Comment=Clean and Update System
Comment[it]=Aggiorna e Pulisce il Sistema
Terminal=true
Exec=cleanupdate
Icon=/usr/share/icons/cleanupdate.png
Categories=ConsoleOnly;System;
GenericName=System Maintenance Helper
GenericName[it]=Manutenzione del Sistema
Keywords=system;clean;
